<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Nous pouvons vous aider !</h2>
                <hr class="light">
                <p></p>
                <p class="text-faded">L'association de loi 1901 Tuning Fork a été fondée en juin 2013 à Nantes. Elle a pour objectif de rendre
                    la pratique de la musique accessible à tous dans un esprit solidaire et par le réemploi d'instruments
                    de musique. Celle-ci développe des actions simultanées sur le libre accès à un instrument, son entretien
                    et son apprentissage.</p>
                <a href="#" class="btn btn-default btn-xl">Commencer !</a>
            </div>
        </div>
    </div>
</section>