<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">À Votre Service</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fas fa-4x fa-music wow bounceIn text-primary"></i>
                    <h3>Prêt d'instrument</h3>
                    <p class="text-muted">Vous avez la possibilité de prendre l'instrument de votre choix et d’en changer à tout moment durant
                        la période de prêt.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fab fa-4x fa-envira wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Récupération</h3>
                    <p class="text-muted">Notre association sensible aux questions d’environnement, propose de les récupérer et de les revaloriser
                        en les mettant à la disposition de tous dans l’instrumenthèque.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fas fa-4x fa-graduation-cap wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Formations</h3>
                    <p class="text-muted">Nous origanisons des formations sur l’entretien et les réparations courantes d’un instrument de musique.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fas fa-4x fa-map-marker wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Stations instrumentales</h3>
                    <p class="text-muted">Retrouver dans chacune de ces stations une guitare de l'instrumenthèque pour jouer en toute liberté.</p>
                </div>
            </div>
        </div>
    </div>
</section>